@import './vinyl-menu.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #F5F1EA;
    font-family: 'Inter', sans-serif;
}

.font-serif, .quote {
    font-family: 'Instrument Serif', serif;
}

::selection {
    background: #dce5ff;
    color: #000;
}

a {
    transition: .25s ease;
}

.dashboard-card {
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.04), 0 4px 10px -2px rgba(0, 0, 0, 0.02);
    border-radius: 32px;
}

.dark .dashboard-card {
    background: #0f172a; /* slate-950 or 900 */
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 4px 10px -2px rgba(0, 0, 0, 0.1);
}

.dashboard-card:hover {
    transform: translateY(-6px) scale(1.015);
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 
        0 0 35px rgba(0, 0, 0, 0.08),
        0 20px 40px -12px rgba(0, 0, 0, 0.1);
}

.dark .dashboard-card:hover {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
        0 0 35px rgba(0, 0, 0, 0.3),
        0 20px 40px -12px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9f9f9f;
}